<header>
    <h1>Ma Boutique de Vêtements</h1>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Produits</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h2>Découvrez les dernières tendances de la mode</h2>
    <p>Parcourez notre collection de vêtements et trouvez votre style unique.</p>
    <a href="#" class="btn">Acheter maintenant</a>
</section>

<section class="products">
    <div class="title-products">
        <h2>Dernière collection femme</h2>
    </div>
    <div class="product-grid">
        <div class="product">
            <img src="../../assets/images/femme1.png" alt="Produit 1">
            <h3>Haut rouge</h3>
            <!-- <p>Un magnifique haut rouge.</p> -->
            <p class="ref">Référence : #2020</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/femme2.png" alt="Produit 2">
            <h3>Haut bleu</h3>
            <!-- <p>Un magnifique haut bleu.</p> -->
            <p class="ref">Référence : #2021</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/femme3.png" alt="Produit 3">
            <h3>Robe noire</h3>
           <!--  <p>Une magnifique robe noire.</p> -->
            <p class="ref">Référence : #2022</p>
            <a href="#" class="btn">Acheter</a>
        </div>
        <!-- Ajoutez plus de produits ici -->
    </div>
    <div class="product-grid">
        <div class="product">
            <img src="../../assets/images/femme4.png" alt="Produit 1">
            <h3>Robe rouge</h3>
            <!-- <p>Une magnifique robe rouge.</p> -->
            <p class="ref">Référence : #2023</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/femme5.png" alt="Produit 2">
            <h3>Haut gris</h3>
            <!-- <p>Un magnifique haut gris.</p> -->
            <p class="ref">Référence : #2024</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/femme6.png" alt="Produit 3">
            <h3>Robe grise</h3>
            <!-- <p>Une magnifique robe grise.</p> -->
            <p class="ref">Référence : #2025</p>
            <a href="#" class="btn">Acheter</a>
        </div>
        <!-- Ajoutez plus de produits ici -->
    </div>
</section>
<section class="products">
    <div class="title-products">
        <h2>Dernière collection homme</h2>
    </div>
    <div class="product-grid">
        <div class="product">
            <img src="../../assets/images/homme1.png" alt="Produit 1">
            <h3>Chemise blanche</h3>
            <!-- <p>Une très belle chemise blanche.</p> -->
            <p class="ref">Référence : #2026</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/homme2.png" alt="Produit 2">
            <h3>Pull noir</h3>
            <!-- <p>Un très beau pull noir.</p> -->
            <p class="ref">Référence : #2027</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/homme3.png" alt="Produit 3">
            <h3>Pull gris</h3>
            <!-- <p>Un pull gris, idéal pour Noël.</p> -->
            <p class="ref">Référence : #2028</p>
            <a href="#" class="btn">Acheter</a>
        </div>
        <!-- Ajoutez plus de produits ici -->
    </div>
    <div class="product-grid">
        <div class="product">
            <img src="../../assets/images/homme4.png" alt="Produit 1">
            <h3>Chino</h3>
            <!-- <p>Un très beau chino.</p> -->
            <p class="ref">Référence : #2029</p>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="product">
            <img src="../../assets/images/homme5.png" alt="Produit 2">
            <h3>Jean</h3>
            <!-- <p>Un magnifique jean.</p> -->
            <p class="ref">Référence : #2030</p>
            <a href="#" class="btn">Acheter</a>
        </div>
        <div class="product">
            <img src="../../assets/images/homme6.png" alt="Produit 3">
            <h3>Chemise avec poche</h3>
            <!-- <p>Une chemise avec poche, idéal pour les bûcherons.</p> -->
            <p class="ref">Référence : #2031</p>
            <a href="#" class="btn">Acheter</a>
        </div>
        <!-- Ajoutez plus de produits ici -->
    </div>
</section>
<footer>
    <p>&copy; 2023 Ma Boutique de Vêtements</p>
</footer>