/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6600;
}

.hero {
    text-align: center;
    padding: 80px 0;
    background-image: url('../../assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgray;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: grey;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.product {
    margin: 20px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
}

.product h3 {
    font-size: 24px;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.product-grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.title-products{
    width: 100%;
    margin-left: 20%;
}

.ref{
    font-style: italic;
    color: grey;
}

df-messenger {
    --df-messenger-button-titlebar-color: #df9b56;
}
